<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="6B761FD2-69AE-4E1F-B0DE-C936E3CA1AB1" Name="Sql Build Manager" Language="1033" Version="9.0.0" Manufacturer="Michael McKechney" UpgradeCode="51968082-6ED0-4C09-878A-0FF245356326">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <Feature Id="ProductFeature" Title="SqlBuildManager.Installer" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>
        <UI />
    </Product>
</Wix>