<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <appSettings>
    <add key="feedFile" value="C:\Documents and Settings\mm001125\My Documents\Visual Studio 2005\Projects\SqlSync2005\SqlSyncUsageMeter\SqlSyncUsage.xml"/>
  </appSettings>
	<system.web>
		<compilation debug="true"/></system.web></configuration>

