<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SqlSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SqlSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SqlCodeReviewEntities" connectionString="metadata=res://*/CodeReview.SqlCodeReviewModel.csdl|res://*/CodeReview.SqlCodeReviewModel.ssdl|res://*/CodeReview.SqlCodeReviewModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=SqlCodeReview;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="UpdateDateColumns" value="UpdateDate,UpdateDateTime,chg_dt,ModifiedDate"/>
    <add key="UpdateIdColumns" value="UpdateId,UpdateBy"/>
    <add key="CreateDateColumns" value="CreateDate,CreateDateTime,create_dt"/>
    <add key="CreateIdColumns" value="CreateId,CreateBy"/>
    <add key="ProgramVersionCheckURL" value="https://github.com/mmckechney/SqlBuildManager/releases/latest"/>
    <add key="ProgramUpdateFolderURL" value="https://github.com/mmckechney/SqlBuildManager/releases"/>
    <add key="ProgramUpdateContact" value="Michael McKechney"/>
    <add key="ProgramUpdateContactEMail" value="michael@mckechney.com"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="Enterprise.ConfigFileLocation" value="https://raw.githubusercontent.com/mmckechney/SqlBuildManager/master/src/SqlBuildManager.Enterprise/EnterpriseConfiguration.xml"/>
  </appSettings>
  
  <!--<system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>-->
  <userSettings>
    <SqlSync.Properties.Settings>
      <setting name="ScriptPermissions" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ScriptAsAlter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastRemoteExecutionConfigFile" serializeAs="String">
        <value/>
      </setting>
      <setting name="DefaultMinimumScriptTimeout" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="RequireScriptTags" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RequireScriptTagsMessage" serializeAs="String">
        <value>A script Tag are required. Please add.</value>
      </setting>
      <setting name="TagInferenceRegexList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>\bCR *-*#* *\d{3,10}</string>
            <string>\bP *-*#* *\d{3,10}</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DiffForegroundColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="DiffBackgroundColor" serializeAs="String">
        <value>Maroon</value>
      </setting>
      <setting name="ScriptPkWithTables" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ScriptDontStripTransactions" serializeAs="String">
        <value>LightBlue</value>
      </setting>
      <setting name="ScriptAllowMultipleRunsAndLeaveTransactions" serializeAs="String">
        <value>Thistle</value>
      </setting>
      <setting name="ScriptWillBeSkippedMarkedAsRunOnce" serializeAs="String">
        <value>BlanchedAlmond</value>
      </setting>
      <setting name="ScriptReadOnly" serializeAs="String">
        <value>Gray</value>
      </setting>
      <setting name="ScriptAllowMultipleRuns" serializeAs="String">
        <value>DarkSalmon</value>
      </setting>
      <setting name="DACPACPath" serializeAs="String">
        <value/>
      </setting>
      <setting name="DBAuthenticationType" serializeAs="String">
        <value>-1</value>
      </setting>
    </SqlSync.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <SqlSync.Properties.Settings>
      <setting name="EnterpriseSettingsPath" serializeAs="String">
        <value>i:\mmckechney\Sql Build Manager\Enterprise Settings</value>
      </setting>
    </SqlSync.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.11.0.0" newVersion="4.11.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.5.0.0" newVersion="6.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.5.0.0" newVersion="6.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.5.0.0" newVersion="6.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.5.0.0" newVersion="6.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.JsonWebTokens" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.5.0.0" newVersion="6.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.5.0.0" newVersion="6.5.0.0"/>

      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.SqlClient" publicKeyToken="23ec7fc2d6eaa4a5" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.12.20106.1" newVersion="1.12.20106.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
