<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Enterprise.ConfigFileLocation" value="EnterpriseConfiguration.xml"/>
  </appSettings>


  <connectionStrings>
    <add name="SqlCodeReviewEntities" connectionString="metadata=res://*/CodeReview.SqlCodeReviewModel.csdl|res://*/CodeReview.SqlCodeReviewModel.ssdl|res://*/CodeReview.SqlCodeReviewModel.msl;provider=Microsoft.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=SqlCodeReview;integrated security=True;multipleactiveresultsets=True;;CONNECTION TIMEOUT=5;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
