<?xml version="1.0"?>
<configuration>
<appSettings>
	<add key="DynamicHttpEndpointTemplate" value="http://[[ServerName]]:8675/SqlBuildManager.Services/BuildService"/>
	<add key="DynamicTcpEndpointTemplate" value="net.tcp://[[ServerName]]:8676/SqlBuildManager.Services/BuildService"/>
</appSettings>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBuildService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="1000000" maxArrayLength="1000000" maxBytesPerRead="4096" maxNameTableCharCount="1000000"/>
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
                        <message clientCredentialType="UserName" algorithmSuite="Default"/>
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:33273/BuildService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBuildService" contract="Sbm.BuildService.IBuildService" name="BasicHttpBinding_IBuildService"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
