<?xml version="1.0"?>
<configuration>
<appSettings>
	<add key="DynamicHttpEndpointTemplate" value="http://[[ServerName]]:8675/SqlBuildManager.Services/BuildService"/>
	<add key="DynamicTcpEndpointTemplate" value="net.tcp://[[ServerName]]:8676/SqlBuildManager.Services/BuildService"/>
</appSettings>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBuildService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8675/BuildService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IBuildService" contract="Sbm.BuildService.IBuildService"
                name="BasicHttpBinding_IBuildService" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
