<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="DynamicHttpEndpointTemplate" value="http://[[ServerName]]:8675/SqlBuildManager.Services/BuildService" />
		<add key="DynamicTcpEndpointTemplate" value="net.tcp://[[ServerName]]:8676/SqlBuildManager.Services/BuildService" />
	</appSettings>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IBuildService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="1000000" maxArrayLength="1000000"
                        maxBytesPerRead="4096" maxNameTableCharCount="1000000" />
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpBinding>
			<!--<netTcpBinding>
				<binding name="netTcp_IBuildService">
					<security mode="None" />
					<readerQuotas maxDepth="32" maxStringContentLength="2000000" maxArrayLength="2000000" maxBytesPerRead="4096" maxNameTableCharCount="2000000" />
				</binding>
			</netTcpBinding> -->
		</bindings>
		<client>
			<endpoint address="http://localhost:8675/BuildService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IBuildService" contract="Sbm.BuildService.IBuildService"
                name="BasicHttpBinding_IBuildService" />
			<!--<endpoint address="net.tcp://localhost:8676/SqlBuildManager.Services/BuildService" binding="netTcpBinding" bindingConfiguration="netTcp_IBuildService" contract="Sbm.BuildService.IBuildService" name="IBuildServiceEndpoint">-->

			</endpoint>
		</client>
	</system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.0.0" newVersion="6.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>